/*fonts*/
@font-face{
    font-family: twcen;
    src: url(fonts/tw-cen-mt-condensed-extrabold.ttf);
}

/*algemeen*/
body {
    color: white;
    margin: 0em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7f1500;
    border-bottom: 5px solid white;
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-family: twcen;
}

footer {
    background-color: #7f1500;
    border: 5px solid white;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

/*losse onderdelen*/
header img{
    width: 3em;
    padding-top: 0.3em;
}

a{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h1{
    font-size: 1.5em;
}

section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0em 1.5em 0.5em 1.5em;
    margin-bottom: 0em;
    margin-top: 0.5em;
}

main img{
    display: block;
    margin: 0 auto;
    width: 300px;
    margin-top: 5em;
}

main p{
    margin-top: 0.1em;
    display: table;
    margin: auto;
    font-size: 1.5em;
    font-weight: 50;
}

section p{
    display: table;
    margin: auto;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 0.6em;
}

footer img {
    width: 4em;
}

/*classes enzo*/

.homescreen{
    background-image: url(images/homepagestore.jpg);
    width: 100vw;
}

.active{
    border: 0.1em solid white;
    border-radius: 1em;
}

.twcen {
    font-family: twcen;
    font-style: italic;
}